/*from outside to inside: margin, border, padding, content*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* html {
	height: 100%;
	background-size: cover;
	background-image: linear-gradient(to bottom right, #facd00, #fda00d);
	background-repeat: no-repeat;
} */

body {
	font-family: 'Poppins';
	font-size: 22px;
	background-image: url(https://news.yale.edu/sites/default/files/styles/horizontal_image/public/2013_01_24_11-11-32_school_of_art_1.jpg?itok=TQp3wuDC&c=b34d959e670923cd301a7c2d34f9c8c9);
	background-size: contain;
	margin: 0 20%;
}

h1, h2, h3 {
	margin: 0 0 auto 0;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

header, nav, div, footer, button, p {
	margin: 10px auto;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 2px 1px 5px 1px #acc1d0;
}

p {
	box-shadow: none;
}

header {
	background-color: #06497a;
	color: #acc1d0;
	margin-top: 50px;
	text-align: center;
	font-size: 40px;
	font-family: Poppins;
	font-weight: bold;
}

nav {
	background-color: #769ad1;
	overflow: hidden;
}

ul {
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}

div {
	background-color: #839a50;
}

div p {
	font-size: 17px;
}

a {
	color: #f2f2f2;
	text-decoration: none;
	text-shadow: 1px 1px 2px #ae8e00;
}

ul li a {
	float: left;
	padding: 5px 10px;
	font-size: 20px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
}

/* Add a color to the active/current link */
a:hover {
	background-color: #FCB524;
	color: #FFFFFF;
	border-radius: 3px;
}

nav a:hover, a.active {
	background-color: #82DE5B;
}

.soa, .greenhall, .bulletin, .page-links {
	overflow: hidden;
}

#soa-image, #greenhall {
	max-width: 600px;
	max-height: 600px;
	float: left;
	margin-right: 10px;
}

.fit div {
	word-wrap: break-word;
}
.soa p {
	margin-left: 10px;
}

footer {
	background-color: white;
	font-size: 14px;
}

button {
	margin: 10px 5px 0 0;
	padding: 5px;
	background-color: #d67fff;
}

.bulletin p {
	column-count: 2;
}

/*p {
	background: rgba(255, 255, 255, 0.25);
}*/

@media screen and (max-width: 1300px) {
	body {
		margin: 0 10%;
	}
}

@media screen and (max-width: 700px) {
	body {
		margin: 0 15px;
	}
}